@page "/categories";
@using Model

<h3>Categories</h3>

@if (categories == null)
{
<p>Loading...</p>
}
else
{
<table>
    <thead>
        <tr><th>Name</th></tr>
    </thead>
    <tbody>
        @foreach (var category in categories)
        {
            <tr>
                <td>@category.Name</td>
            </tr>
        }
    </tbody>
</table>
}



@code {
    private IEnumerable<Category> categories = new List<Category>
{
        new Category{ Id=1, Name="Shopping" },
        new Category{ Id=2, Name="Fuel"}
    };
}
